# Compiled Object files
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.la
*.a

*.out

*Makefile
mysql-3.23.49/Makefile
mysql-3.23.49/*/Makefile
mysql-3.23.49/*/*/Makefile
mysql-3.23.49/libtool
#mysql-3.23.49/Docs/*
mysql-3.23.49/config.cache
mysql-3.23.49/config.log
mysql-3.23.49/config.h
mysql-3.23.49/include/my_config.h
#mysql-3.23.49/libmysql/*
#mysql-3.23.49/libmysql_r/*
#mysql-3.23.49/support-files/*

mysql-3.23.49/client/.libs/
mysql-3.23.49/client/insert_test
mysql-3.23.49/client/mysql
mysql-3.23.49/client/mysqladmin
mysql-3.23.49/client/mysqlbinlog
mysql-3.23.49/client/mysqlcheck
mysql-3.23.49/client/mysqldump
mysql-3.23.49/client/mysqlimport
mysql-3.23.49/client/mysqlshow
mysql-3.23.49/client/mysqltest
mysql-3.23.49/client/select_test
mysql-3.23.49/client/thread_test
mysql-3.23.49/config.log
mysql-3.23.49/extra/comp_err
mysql-3.23.49/extra/my_print_defaults
mysql-3.23.49/extra/perror
mysql-3.23.49/extra/replace
mysql-3.23.49/extra/resolve_stack_dump
mysql-3.23.49/extra/resolveip
mysql-3.23.49/heap/hp_test1
mysql-3.23.49/heap/hp_test2
mysql-3.23.49/innobase/config.cache
mysql-3.23.49/innobase/config.log
mysql-3.23.49/innobase/config.status
mysql-3.23.49/innobase/gmon.out
mysql-3.23.49/innobase/stamp-h
mysql-3.23.49/isam/isamchk
mysql-3.23.49/isam/isamlog
mysql-3.23.49/isam/pack_isam
mysql-3.23.49/isam/test1
mysql-3.23.49/isam/test2
mysql-3.23.49/isam/test3
mysql-3.23.49/linked_client_sources
mysql-3.23.49/linked_include_sources
mysql-3.23.49/linked_libmysql_r_sources
mysql-3.23.49/linked_libmysql_sources
mysql-3.23.49/linked_server_sources
mysql-3.23.49/myisam/ft_eval
mysql-3.23.49/myisam/ft_test1
mysql-3.23.49/myisam/mi_test1
mysql-3.23.49/myisam/mi_test2
mysql-3.23.49/myisam/mi_test3
mysql-3.23.49/myisam/mi_test_all
mysql-3.23.49/myisam/myisamchk
mysql-3.23.49/myisam/myisamlog
mysql-3.23.49/myisam/myisampack
mysql-3.23.49/mysql-test/install_test_db
mysql-3.23.49/mysql-test/mysql-test-run
mysql-3.23.49/mysys/test_charset
mysql-3.23.49/mysys/test_thr_alarm
mysql-3.23.49/mysys/test_thr_lock
mysql-3.23.49/regex/re
mysql-3.23.49/scripts/make_binary_distribution
mysql-3.23.49/scripts/msql2mysql
mysql-3.23.49/scripts/mysql_config
mysql-3.23.49/scripts/mysql_convert_table_format
mysql-3.23.49/scripts/mysql_find_rows
mysql-3.23.49/scripts/mysql_fix_privilege_tables
mysql-3.23.49/scripts/mysql_install_db
mysql-3.23.49/scripts/mysql_setpermission
mysql-3.23.49/scripts/mysql_zap
mysql-3.23.49/scripts/mysqlaccess
mysql-3.23.49/scripts/mysqld_multi
mysql-3.23.49/scripts/mysqldumpslow
mysql-3.23.49/scripts/mysqlhotcopy
mysql-3.23.49/scripts/safe_mysqld
mysql-3.23.49/sql-bench/bench-init.pl
mysql-3.23.49/sql-bench/compare-results
mysql-3.23.49/sql-bench/copy-db
mysql-3.23.49/sql-bench/crash-me
mysql-3.23.49/sql-bench/graph-compare-results
mysql-3.23.49/sql-bench/run-all-tests
mysql-3.23.49/sql-bench/server-cfg
mysql-3.23.49/sql-bench/test-ATIS
mysql-3.23.49/sql-bench/test-alter-table
mysql-3.23.49/sql-bench/test-big-tables
mysql-3.23.49/sql-bench/test-connect
mysql-3.23.49/sql-bench/test-create
mysql-3.23.49/sql-bench/test-insert
mysql-3.23.49/sql-bench/test-select
mysql-3.23.49/sql-bench/test-wisconsin
mysql-3.23.49/sql/gen_lex_hash
mysql-3.23.49/sql/mysqld
mysql-3.23.49/sql/share/gmon.out
mysql-3.23.49/strings/conf_to_src
mysql-3.23.49/strings/ctype_extra_sources.c

mysql-3.23.49/libmysql/.libs/
mysql-3.23.49/libmysql/array.c
mysql-3.23.49/libmysql/bchange.c
mysql-3.23.49/libmysql/bmove.c
mysql-3.23.49/libmysql/bmove_upp.c
mysql-3.23.49/libmysql/charset.c
mysql-3.23.49/libmysql/conf_to_src
mysql-3.23.49/libmysql/ctype.c
mysql-3.23.49/libmysql/ctype_autoconf.c
mysql-3.23.49/libmysql/ctype_extra_sources.c
mysql-3.23.49/libmysql/dbug.c
mysql-3.23.49/libmysql/default.c
mysql-3.23.49/libmysql/errors.c
mysql-3.23.49/libmysql/getopt.c
mysql-3.23.49/libmysql/getopt1.c
mysql-3.23.49/libmysql/getvar.c
mysql-3.23.49/libmysql/hash.c
mysql-3.23.49/libmysql/int2str.c
mysql-3.23.49/libmysql/is_prefix.c
mysql-3.23.49/libmysql/list.c
mysql-3.23.49/libmysql/llstr.c
mysql-3.23.49/libmysql/longlong2str.c
mysql-3.23.49/libmysql/mf_cache.c
mysql-3.23.49/libmysql/mf_casecnv.c
mysql-3.23.49/libmysql/mf_dirname.c
mysql-3.23.49/libmysql/mf_fn_ext.c
mysql-3.23.49/libmysql/mf_format.c
mysql-3.23.49/libmysql/mf_iocache.c
mysql-3.23.49/libmysql/mf_loadpath.c
mysql-3.23.49/libmysql/mf_pack.c
mysql-3.23.49/libmysql/mf_path.c
mysql-3.23.49/libmysql/mf_tempfile.c
mysql-3.23.49/libmysql/mf_unixpath.c
mysql-3.23.49/libmysql/mf_wcomp.c
mysql-3.23.49/libmysql/mulalloc.c
mysql-3.23.49/libmysql/my_alloc.c
mysql-3.23.49/libmysql/my_compress.c
mysql-3.23.49/libmysql/my_create.c
mysql-3.23.49/libmysql/my_delete.c
mysql-3.23.49/libmysql/my_div.c
mysql-3.23.49/libmysql/my_error.c
mysql-3.23.49/libmysql/my_fopen.c
mysql-3.23.49/libmysql/my_fstream.c
mysql-3.23.49/libmysql/my_getwd.c
mysql-3.23.49/libmysql/my_init.c
mysql-3.23.49/libmysql/my_lib.c
mysql-3.23.49/libmysql/my_malloc.c
mysql-3.23.49/libmysql/my_messnc.c
mysql-3.23.49/libmysql/my_net.c
mysql-3.23.49/libmysql/my_once.c
mysql-3.23.49/libmysql/my_open.c
mysql-3.23.49/libmysql/my_pread.c
mysql-3.23.49/libmysql/my_pthread.c
mysql-3.23.49/libmysql/my_read.c
mysql-3.23.49/libmysql/my_realloc.c
mysql-3.23.49/libmysql/my_seek.c
mysql-3.23.49/libmysql/my_static.c
mysql-3.23.49/libmysql/my_static.h
mysql-3.23.49/libmysql/my_symlink.c
mysql-3.23.49/libmysql/my_thr_init.c
mysql-3.23.49/libmysql/my_write.c
mysql-3.23.49/libmysql/mysys_priv.h
mysql-3.23.49/libmysql/safemalloc.c
mysql-3.23.49/libmysql/str2int.c
mysql-3.23.49/libmysql/strcend.c
mysql-3.23.49/libmysql/strcont.c
mysql-3.23.49/libmysql/strend.c
mysql-3.23.49/libmysql/strfill.c
mysql-3.23.49/libmysql/string.c
mysql-3.23.49/libmysql/strinstr.c
mysql-3.23.49/libmysql/strmake.c
mysql-3.23.49/libmysql/strmov.c
mysql-3.23.49/libmysql/strnlen.c
mysql-3.23.49/libmysql/strnmov.c
mysql-3.23.49/libmysql/strto.c
mysql-3.23.49/libmysql/strtoll.c
mysql-3.23.49/libmysql/strtoull.c
mysql-3.23.49/libmysql/strxmov.c
mysql-3.23.49/libmysql/thr_mutex.c
mysql-3.23.49/libmysql/typelib.c

mysql-3.23.49/support-files/binary-configure
mysql-3.23.49/support-files/my-huge.cnf
mysql-3.23.49/support-files/my-large.cnf
mysql-3.23.49/support-files/my-medium.cnf
mysql-3.23.49/support-files/my-small.cnf
mysql-3.23.49/support-files/mysql-3.23.49.spec
mysql-3.23.49/support-files/mysql-log-rotate
mysql-3.23.49/support-files/mysql.server
mysql-3.23.49/support-files/mysql.spec

mysql-3.23.49/libmysql_r/ctype_extra_sources.c
