# Compiled Object files
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.la
*.a

*.out

*Makefile
mysql-3.23.49/Makefile
mysql-3.23.49/*/Makefile
mysql-3.23.49/*/*/Makefile
mysql-3.23.49/libtool
mysql-3.23.49/Docs/*
mysql-3.23.49/config.cache
mysql-3.23.49/config.log
mysql-3.23.49/config.h

mysql-3.23.49/libmysql/*
mysql-3.23.49/libmysql_r/*
mysql-3.23.49/support-files/*

mysql-3.23.49/client/.libs/
mysql-3.23.49/client/insert_test
mysql-3.23.49/client/mysql
mysql-3.23.49/client/mysqladmin
mysql-3.23.49/client/mysqlbinlog
mysql-3.23.49/client/mysqlcheck
mysql-3.23.49/client/mysqldump
mysql-3.23.49/client/mysqlimport
mysql-3.23.49/client/mysqlshow
mysql-3.23.49/client/mysqltest
mysql-3.23.49/client/select_test
mysql-3.23.49/client/thread_test
mysql-3.23.49/config.log
mysql-3.23.49/extra/comp_err
mysql-3.23.49/extra/my_print_defaults
mysql-3.23.49/extra/perror
mysql-3.23.49/extra/replace
mysql-3.23.49/extra/resolve_stack_dump
mysql-3.23.49/extra/resolveip
mysql-3.23.49/heap/hp_test1
mysql-3.23.49/heap/hp_test2
mysql-3.23.49/innobase/config.cache
mysql-3.23.49/innobase/config.log
mysql-3.23.49/innobase/config.status
mysql-3.23.49/innobase/gmon.out
mysql-3.23.49/innobase/stamp-h
mysql-3.23.49/isam/isamchk
mysql-3.23.49/isam/isamlog
mysql-3.23.49/isam/pack_isam
mysql-3.23.49/isam/test1
mysql-3.23.49/isam/test2
mysql-3.23.49/isam/test3
mysql-3.23.49/linked_client_sources
mysql-3.23.49/linked_include_sources
mysql-3.23.49/linked_libmysql_r_sources
mysql-3.23.49/linked_libmysql_sources
mysql-3.23.49/linked_server_sources
mysql-3.23.49/myisam/ft_eval
mysql-3.23.49/myisam/ft_test1
mysql-3.23.49/myisam/mi_test1
mysql-3.23.49/myisam/mi_test2
mysql-3.23.49/myisam/mi_test3
mysql-3.23.49/myisam/mi_test_all
mysql-3.23.49/myisam/myisamchk
mysql-3.23.49/myisam/myisamlog
mysql-3.23.49/myisam/myisampack
mysql-3.23.49/mysql-test/install_test_db
mysql-3.23.49/mysql-test/mysql-test-run
mysql-3.23.49/mysys/test_charset
mysql-3.23.49/mysys/test_thr_alarm
mysql-3.23.49/mysys/test_thr_lock
mysql-3.23.49/regex/re
mysql-3.23.49/scripts/make_binary_distribution
mysql-3.23.49/scripts/msql2mysql
mysql-3.23.49/scripts/mysql_config
mysql-3.23.49/scripts/mysql_convert_table_format
mysql-3.23.49/scripts/mysql_find_rows
mysql-3.23.49/scripts/mysql_fix_privilege_tables
mysql-3.23.49/scripts/mysql_install_db
mysql-3.23.49/scripts/mysql_setpermission
mysql-3.23.49/scripts/mysql_zap
mysql-3.23.49/scripts/mysqlaccess
mysql-3.23.49/scripts/mysqld_multi
mysql-3.23.49/scripts/mysqldumpslow
mysql-3.23.49/scripts/mysqlhotcopy
mysql-3.23.49/scripts/safe_mysqld
mysql-3.23.49/sql-bench/bench-init.pl
mysql-3.23.49/sql-bench/compare-results
mysql-3.23.49/sql-bench/copy-db
mysql-3.23.49/sql-bench/crash-me
mysql-3.23.49/sql-bench/graph-compare-results
mysql-3.23.49/sql-bench/run-all-tests
mysql-3.23.49/sql-bench/server-cfg
mysql-3.23.49/sql-bench/test-ATIS
mysql-3.23.49/sql-bench/test-alter-table
mysql-3.23.49/sql-bench/test-big-tables
mysql-3.23.49/sql-bench/test-connect
mysql-3.23.49/sql-bench/test-create
mysql-3.23.49/sql-bench/test-insert
mysql-3.23.49/sql-bench/test-select
mysql-3.23.49/sql-bench/test-wisconsin
mysql-3.23.49/sql/gen_lex_hash
mysql-3.23.49/sql/mysqld
mysql-3.23.49/sql/share/gmon.out
mysql-3.23.49/strings/conf_to_src
mysql-3.23.49/strings/ctype_extra_sources.c

